{% extends "judgement/layout.html" %}
{% load static %}

{% block body %}
<ul>
    <li>
        Download the <a href="https://drive.google.com/drive/u/0/folders/194zgYCtAIuMwwuKbpotLOzEoD8P-pJuz">offline
            simulator</a>
        (this is a modified version of the one on the NandToTetris website). Or, if you're feeling hardcore, you can also compile
        it yourself from the <a href="https://github.com/SecretsAndLies/nand2tetris-bolt">source code</a>. Unzip it and then run the GUI
        by running the associated script ie:
        <pre><code>~/Downloads/nand2tetris/nand2tetris/tools/CPUEmulator.sh</code></pre>
        You'll probably need to run the below to give the current user (you) execute permission. 
        <pre><code>chmod u+x ~/Downloads/nand2tetris/nand2tetris/tools/CPUEmulator.sh</code></pre> 
    </li>
    <li>
        Read the <a href="https://www.nand2tetris.org/_files/ugd/44046b_89a8e226476741a3b7c5204575b8a0b2.pdf">textbook
            chapter</a>.
    </li>
    <li>
        Watch the <a
            href="https://www.youtube.com/watch?v=9Sq94l9fYqw&list=PLrDd_kMiAuNmSb-CKWQqq9oBFN_KNMTaI&index=42">lectures</a>.
    </li>
    <li>
        Check out the <a href="https://www.nand2tetris.org/software">online simulator</a>.
    </li>
    <li>
        Check out the <a href="https://github.com/SecretsAndLies/ntt_judge">source code</a> for this site.
    </li>
</ul>
{% endblock %}
