{% extends "judgement/layout.html" %}
{% load static %}

{% block body %}
<h1>Correct!</h1>
<h2>Passed {{tests_passed}}/{{tests_total}} Tests.</h2>
<!-- TODO: add collapsable to hide this data on first click. -->
<h2>Average Cycles used: {{user_solution.cycles}}, {{cycle_percentile}} percentile (Ranked {{cycle_rank}}/{{out_of_rank}})</h2>
<p>TBD chart</p>
<h2>Average ROM used: {{user_solution.rom}}, {{rom_percentile}} percentile (Ranked {{rom_rank}}/{{out_of_rank}})</h2>
<p>TBD chart</p>
<h2>Average RAM used: {{user_solution.ram}}, {{ram_percentile}} percentile (Ranked {{ram_rank}}/{{out_of_rank}})</h2>
<p>TBD chart</p>

{% endblock %}